@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
html,body
{
	margin: 0;
	padding: 0;
}
*
{
	cursor: url("");
}
.br 
{
  display: block;
  margin-bottom: 0.6em;
}
.faculty_Nav
{
	padding: 1.2% 5%;
  display: flex;
  align-items: center;
  background: #2f3546;
  color: white;
  gap: 6px;
  font-family: 'Roboto', sans-serif;
}
.faculty_Nav img
{
	height: 50px;
	width: 50px;
	margin: 1.5px;
}
.faculty_Nav h3
{
	letter-spacing: 2.5px;
	width: min-content;
}
.breadcrumbs_Main
{
	margin: 0;
	padding: 0 2%;
}
.breadcrumbs
{
	width: fit-content;
	padding: 0;
	box-shadow: 0px 0px 3px 0px #d4ecff;
	background:#003270;
	font-family: 'Roboto',sans-serif;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
  justify-content: flex-start;
	border-radius: 20px;
	border: 0.21px solid #1235ae;
}
.breadcrumbs button
{
	color: #003270;
	border-radius: inherit;
	border: none;
	padding: 2px 4px;
	background: #ffffff;
	font-size: 20px;
	box-shadow: 1px 0 2px 0px #00457d;
}
.breadcrumbs button.active
{
	background: inherit;
    color: white;
}
.faculty
{
	margin-left: -28px;
  padding-left: 32px !important;
}
.qualification h2
{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
	margin: auto;
  width: fit-content;
	/*border-bottom: 0.5px solid #2e3547;*/
	position: relative;
}
.qualification h2:after
{
	content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 20%;
  border-bottom: 1.25px solid #2e3547;
}

.edu_yr
{
  display: grid;
  grid-template-columns: 
  repeat(auto-fit,minmax(300px,1fr));
  padding: 2% 4%;
  align-items: center;
  justify-content: space-between;
}


.edu_yr fieldset
{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	padding: 4px 14px;
	height: 100%;
	border: 2px solid #060c9b;
	clip-path: polygon(5% 0, 100% 0%, 100% 96%, 1% 93%);
}
.edu_yr fieldset legend
{
	font-size: 20px;
	font-weight: 600;
}
.interestArea
{
	padding: 0 12%;
}
.edu_yr fieldset h4
{
	color: #050366;
	font-size: 20px;
}
.edu_yr fieldset span
{
	color: #4c4c4c;
	font-size: 18px;
}
.interestBody
{
	border: 1px solid black;
	display: flex;
	text-align: center;
}
.arTitle
{
	padding: 4px 30px;
	background: #ccc;
}
.arTitle span
{
	font-size: 18px;
}
.interestContent
{
	text-align: center;
	padding: 4px 10px;
}
























































































































