@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
html,body
{
	margin: 0;
	padding: 0;
}
*
{
	cursor: url("./Images/cursor2.svg"),auto;
}
.br 
{
  display: block;
  margin-bottom: 0.6em;
}
.faculty_Nav
{
	padding: 1.2% 5%;
  display: flex;
  align-items: center;
  background: #2f3546;
  color: white;
  gap: 6px;
  font-family: 'Roboto', sans-serif;
}
.faculty_Nav img
{
	height: 50px;
	width: 50px;
	margin: 1.5px;
}
.faculty_Nav h3
{
	letter-spacing: 2.5px;
	width: min-content;
}
.breadcrumbs_Main
{
	margin: 0;
	padding: 0 2%;
}
.breadcrumbs
{
	width: fit-content;
	padding: 0;
	box-shadow: 0px 0px 3px 0px #d4ecff;
	background:#003270;
	font-family: 'Roboto',sans-serif;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
  justify-content: flex-start;
	border-radius: 20px;
	border: 0.21px solid #1235ae;
}
.breadcrumbs button
{
	color: #003270;
	border-radius: inherit;
	border: none;
	padding: 2px 4px;
	background: #ffffff;
	font-size: 20px;
	box-shadow: 1px 0 2px 0px #00457d;
}
.breadcrumbs button.active
{
	background: inherit;
    color: white;
}
.faculty
{
	margin-left: -28px;
  padding-left: 32px !important;
}
.container
{
	font-family: 'Roboto',sans-serif;
}
.qualification h2,
.achievement h2
{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
	margin: auto;
  width: fit-content;
	/*border-bottom: 0.5px solid #2e3547;*/
	position: relative;
}
.qualification h2:after,
.achievement h2:after
{
	content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 20%;
  border-bottom: 3.25px solid #05086b;
  padding-bottom: 4px;
}

.edu_yr
{
  display: grid;
  grid-template-columns: 
  repeat(auto-fit,minmax(300px,1fr));
  padding: 2% 4%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.interestArea
{
	padding: 0 12%;
}
.interestBody
{
	border: 1px solid #00046b;
	display: flex;
	text-align: center;
}
.arTitle
{
	padding: 4px 30px;
	background: #00046b;
	color: white;
}
.arTitle span
{
	font-size: 18px;
}
.interestContent
{
	text-align: center;
	padding: 4px 10px;
}
.faculty_Nav_more
{
	background: #f2f2f2;
	padding: 50px 4px;
}
.faculty_Nav_more_grid
{
	display: grid;
	grid-template-columns: 
	repeat(auto-fit,minmax(300px,1fr));
	justify-content: space-evenly;
	text-align: center;
	justify-items: center;
	gap: 18px;
}
.Contentbox
{ 
	background: linear-gradient(to right, #2e3547 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  height: 117px;
  width: 117px;
  display: grid;
  padding: 8%;
  grid-gap: 15px;
  font-size: 20px;
  align-items: center;
  border-bottom: 5px solid #003270;
  transition: all 500ms ease-out;
}
.Contentbox .bi
{
  font-size: 30px;
}
.Contentbox:hover
{
	background-position: left bottom;
	color: #ffffff;
	border-bottom: 5px solid #ffffff;
}
.yr
{
	clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0 100%);
	width: fit-content;
	display: flex;
	border: 0.25px solid #060c9b;
}
.sub_year,.sub_degree
{
	text-align: center;
  padding: 2px 35px;
}
.sub_year
{
	clip-path: polygon(9% 0, 100% 0%, 69% 100%, 0 100%);
	background: #00046b;
	color: white;
}
.sub_degree
{
	display: grid;
	justify-items: center;
  align-items: center;
	color: #060c9b;
}
.institution
{
	color: #00046b;
}
.degree
{
	color: #003d6d;
}
.achievement
{
	padding: 2% 0;
}
.slider
{
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}
.SliderBox
{
	height: 500px;
	width: 300px;
	display: inline-block;
	padding: 10px 16px;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 40px;
  background: #dedfff;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, 
.dot:hover 
{
  background-color: #05086b;
}
.prev, .next {
	background: #05086b;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
















































































































