body,html{
    background-color:#fdfdfd;
    padding: 0px;
    }
@media screen and (max-width: 960px) {
  .header h1
  {
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 70%;
    font-size: 18px
  }
  .topheader
  {
    height: auto;
    display: inline-flex;
    font-size: 10;
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 960px){
.active a
{
  padding-top: 5px;
}

.header
  {
    display: inline-flex;
    height: 120px;
    padding-bottom: 15px;
    padding-left: 10px;
  }
  .header img
  {
    justify-content: center;
    width: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    height: 100px;
  }
  .header h1
  {
    text-align: left;
    position: relative;
    padding-top: 0px;
    padding-left: 12px;
    height: 90%;
  }
  .article
  {
    width: 100%;
    position: relative;
    display: block;
  }
  .article fieldset
  {
    height: auto;
    width: 92.5%;
  }
  .banner
  {
    height: 200px;
  }
}

@media only screen and (min-width: 462px) and (max-width: 960px) 
{
  .header h1
  {
    padding-top: 20px;
  }
}

@media screen and (max-width:390px)
{
  .header h1
  {
    padding-top: 05px;
  }

}

@media screen and (max-width: 380px)
{
  .header img
  {
    height: 75px;
    width: 75px;
  }
  .header h1
  {
    font-size: 15px;
    text-align: left;
    position: relative;
    padding-top: 3px;
    padding-left: 12px;
    height: 90%;
  }

  .thought_for_Day h1
  {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px)
{
  .SecondaryNav
{
  display: inline-flex;
  width: -webkit-fill-available;
  overflow-x: scroll;
}
  .SecondaryNav a
  {
    display: grid;
    text-overflow:hidden;
  }
}


/* NavBar */

@media screen and (max-width: 960px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


@media screen and (max-width: 960px)
{
  .column
  {
    width: 100%;
    height: auto;
  }
}

/* NavBar Ends */


/* Dean Page Setting */

/* tabletView Dean  ipad  and ipad pro 12" */
@media screen and (max-width:1200px)
{
  .bodyContent
  {
    margin-left: auto;
    margin-right: auto;
    width: 892px;
  }
  .tableContainer
  {
    margin-right: auto;
    margin-left: auto;
    width:480px;
  }
  .footer
  {
    height: auto;
  }
  .footer .footer-main
  {
    height: 350px;
    display: block;
  }
  .footer-secondary
  {
    display: block;
    padding: 10px;
    width: -webkit-fill-available;
    height: auto;
  }
  .footer-secondary-links {
    padding: 6px 5px;
    display: inline-block;
}
.footer-secondary-links a {
    padding: 0 15px;
    font-size: small;
}
}

@media screen and (max-width:960px)
{
  .bodyContent
  {
    margin-left: auto;
    margin-right: auto;
    width: 892px;
  }
.tableContainer
  {
    margin-right: auto;
    margin-left: auto;
    width:730px;
    justify-content: center;
  }
  .rowDean
  {
    justify-content: center;
  }
  .footer
  {
    height: auto;
  }
  .footer .footer-main
  {
    height: 350px;
    display: block;
  }
  .footer-secondary
  {
    display: block;
    padding: 10px;
    width: -webkit-fill-available;
    height: auto;
  }
  .footer-secondary-links {
    padding: 6px 5px;
    display: inline-block;
}
  .footer-secondary-links a {
      padding: 0 15px;
      font-size: small;
  }


  .chButton
  {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .bodyContent{
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
  }
  .tableContainer
  {
    margin-right: auto;
    margin-left: auto;
    width:300px;
  }
  .columnDean h5
{
  font-size: smaller;
}
.columnDean h4
{
  font-size: smaller;
}
  .rowDean
  {
    display: inline;
    padding: 6px 10px;
  }
  .sticky
  {
    width: 100%;
  }

   .topheader .main-group
  {
    display: contents;
  }
  .topheader
  {
    display: block;
  }
  .topheader .group
  {
    font-size: 8px;
  }
  .topheader .dept
  {
    width: 50%;
    font-size: 8px;
  }
}

@media screen and (max-width: 600px)
{
    .column {
    width: 90%;
    height: auto;
  }
  .row
  {
    display: inline-block;
  }
  .mesageContent
  {
    display: inline-block;
  }
}

@media screen and (max-width:460px)
{
  .mesageContent
  {
    display: inline-block;
  }
  .personImage img
  {
    height: 35%;
    width: 100%;
  }














  /* Footer for iphone and mobile */
  .footer .footer-heading
  {
    padding: 20px 70px !important;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-subheader
  {
    width: 220px;
  }
  .footer-heading .header-block h3
  {
    padding: 0px 70px;
  }
  .footer-heading .socials
  {
    width: 180px;
  }
  .footer .footer-main {
    height: auto;
    display: block;
  }
}


@media screen and (max-width: 770px)
{
    .topheader .main-group {
    margin-left: 45px;
    font-size: 12px;
    display: inline-flex;
}
  .footer-subheader
  {
    width: 220px;
  }
  .footer-heading .header-block h3
  {
    padding: 0px 70px;
  }
  .footer .footer-heading
  {
    margin-right: auto;
    margin-left: auto;
    padding: 20px 255px;
  }
  .footer-subgroup,.footer-secondary
  {
    display: none;
  }
  .collaps {
  display: block;
  background-color: inherit;
  color: white;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: 0.5px solid #1a1e2c;
  border-left-style: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  }
  .collaps:after {
      content: '+';
      float: right;
      font-size: 15px;
      font-weight: normal;
    }
    .active2:after {
    content: "-";
  }
    .content {
    padding: 10px 18px;
    height: auto;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #000a22;
  }
  .officals
  {
    background-color: inherit;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 15px;
  }
  .office
  {
    padding: 10px 18px;
    height: auto;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #1a1e2c;
  }
  .officals:after
  {
    content: '+';
    float: right;
    font-size: 15px;
    font-weight: normal;
  }
  .active3:after
  {
    content: "-";
  }
  .content a
  {
    padding: 15px 10px ;
    text-decoration: none;
    color: #e4eff8;
    font-size: small;
  }
  .footerSecondary
  {
    display:block;
    padding: 0px;
    height: 30px;
    padding-bottom: 5px;
    background-color: #1a1e2c;
  }
  .office a{
    color: #7a839a;
    text-decoration: none;
    display: inline-grid;
    padding: 5px 12px;
    font-size: 12px;
  }
}
