@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik:wght@300&family=Varela+Round&family=Bitter&display=swap');
::-moz-selection 
{ 
  background: #2e3547;
  color: #ccd7e1;
}

::selection {
  background: #2e3547;
  color: #ccd7e1;
}
*
{
  cursor: url("./icons/cursor.png"), auto;
}
body{
    background-color:#fdfdfd;
    margin: 0;
}

.topheader p{
  margin: 0;
}

.container{
  margin: 8px 18px 8px 18px !important;
}

.topheader{
  background: #f1f1f1;
  height: 50px;
  font-family: 'Noto Sans', sans-serif;
  font-size: small;
  font-weight: bold;
}

.topheader .main-group{
  margin-left:45px;
}

.topheader .group{
  float: left;
  margin: 5.5px;
  padding-right: 10px;
}

.topheader .dept{
  border-left: 1px solid;
  float: left;
  margin: 5.5px;
  padding-left: 6px;
}

.topheader .language{
  float: right;
  margin: 15px;
}

.topheader .language a{
  color: #000000;
  text-decoration: none;
  padding: 0px 16px;
}

.header
{
  text-shadow: 1px 0px 4px #a6a6a6;
  font-family: 'Varela Round', sans-serif;
  display: inline-flex;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 90px;
}
.header img
{
    width: 89px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    height: 100%;
}
.header h1
{
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 100%;
    font-size: 24px
}

  hr
  {
    height: 0.8px;
    background: black;
  }

/* navBar */

.topnav {
  overflow: hidden;
  background-color: #1b3a4b;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0 rgb(0 0 0 / 20%), 0px 0px 13px 0 rgb(0 0 0 / 19%);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-shadow: 0px 0px 2px #646464, 0 0 2px #e1e1e1;
  font-family:'Rubik', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #1b3a4b;
  color: #f2f2f2;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  text-shadow: 0px 0px 2px #646464, 0 0 2px #e1e1e1;
  background-color: inherit;
  font-family:'Rubik', sans-serif;
  margin: 0;
}

.dropdown-content {
  display: none;
  height: fit-content;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hover Here */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #0a0908;
  color: #FFFFFF;
  text-shadow: 0px 0px 0px #646464, 0 0 0px #e1e1e1;
  box-shadow: 0px 0px 4px 0px rgb(10 10 8), 0px 0px 7px 1px rgb(0 0 0 / 33%);
  border-radius: 5px;
  cursor: hand;
}

.dropbtn:hover
{
  text-shadow: 0px 0px 0px #646464, 0 0 0px #e1e1e1;
  box-shadow: 0px 0px 4px 0px rgb(10 10 8), 0px 0px 7px 1px rgb(0 0 0 / 33%);
  cursor: hand;
}


.dropdown-content a:hover {
  background: none;
  box-shadow: none;
  color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content .meganews {
  background: red;
  padding: 16px;
  color: white;
}



.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* navBar Ends Here */
.article
{
  display: inline-flex;
  height: auto;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.article fieldset
{
  height: auto;
  width: 100%;
}

.banner
{
  border: 0.24px solid #ccc;
  height: 420px;
}
.thought_for_Day
{
  background: url("./Images/messageBackground.png");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  border-radius: 6px;
  padding: 10px;
  height: auto;
}
.thought_for_Day fieldset legend
{
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

.br {
      display: block;
      margin-bottom: 0.6em;
    }
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px 20px 10px 20px;
  background-color: #b7b7a4;
  height: auto;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row
{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

 .dropdown-menu-content
{
  color: white;
  border-radius: 5px;
  padding: 0.4px 0px 0.4px 12px ;
  background-color: #3d442a;
}

.footer{

  font-family: 'Noto Sans';
}

.footer .footer-main
{
  background: #2f3546;
  width: 100%;
  height: 300px;
  margin:0;
  /* float: left; */
}

.footer .footer-heading{
  padding:20px 40px;
  width: 35%;
  color: #ffffff;
  float:left;
}

.footer-heading .header-block{
  height: 60px;
  margin: 0 auto;
}

.footer-heading .header-block img{
  float: left;
  height: 60px;
  width: 60px;
}

.footer-heading .header-block h3{
  letter-spacing: 0.2em;
  padding: 16px 70px;
}

.footer-heading .footer-subheader{
  margin-top: 30px;
}

.footer-heading .footer-subheader a{
  font-size: 13px;
  text-decoration: none;
  color: #7a839a;
  line-height: 1.5rem;
  font-weight: 600;
}

.footer-heading .socials{
  padding-top:8px;
}

.footer-heading .socials img{
  padding:0 8px;
}

.footer-main .footer-subgroup{
  font-family: 'Varela Round';
  width:18%;
  margin: 0 auto;
  float: left;
  padding-top: 50px;
  color: #7a839a;
}

.footer-main .footer-subgroup h4{
  letter-spacing: 0.12em;
}

.footer-main .footer-subgroup a{
  text-decoration: none;
  color: #e4eff8;
  font-size: small;
}

.footer-main .footer-subgroup a:hover
{
  color: white;
  font-size: 19px;
}

.footer-secondary{
  height: 40px;
  background: #1a1e2c;
}

.footer-secondary-links{
  padding:6px 40px;
}

.footer-secondary-links a{
  text-decoration: none;
  color: #7a839a;
  padding:0 15px;
  font-size: small;
}

.collaps,.content,.footerSecondary
{
  display: none;
}


/* Footer Ending */



/* Slideshows Starts */

.home{
  height: 100%;
  overflow:hidden;
  position: relative;
}

.home .slide{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display:none;
  padding:0 15px;
  animation: slide 2s ease;
}
.home .slide.active{
  display: flex;
}
@keyframes slide{
  0%{
    transform:scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.SlideshowContainer{
  max-width: 1170px;
  margin:auto;
  
}

.home .SlideshowContainer{
   flex-grow: 1;
}
.home .caption{
    background-color: #f9f9f99e;
    backdrop-filter: blur(8px);
    width: 35%;
    padding-top: 10px;
    padding-left: 22px;
    margin-top: 100px;
    position: absolute;
    border-radius: 13px;
}
.home .caption h1{
  font-size:42px;
  color:#020056;
  margin:0;
  
}
.home .slide.active .caption h1{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1s;
}
.home .caption p{
  font-size: 18px;
  margin:15px 0 30px;
  color:#020056;
}
.home .slide.active .caption p{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1.4s;
}

@keyframes captionText{
  0%{
    opacity:0; transform: translateX(-100px);
  }
  100%{
   opacity:1; transform: translateX(0px); 
  }
}

.home .controls .prew,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prew:hover,
.home .controls .next:hover{
  background-color: #000000;
}
.home .controls .prew{
 left:0;
 background:#0000001f;
 backdrop-filter: blur(9px);
 border-right: 5px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
}
.home .controls .next{
 right:0;
  background:#0000001f;
 backdrop-filter: blur(9px);
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}

.home .indicator{
  position: absolute;
  left:50%;
  bottom:30px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div{
  display: inline-block;
  width:25px;
  height: 25px;
  color:#ffffff;
  background-color: #FF5722;
  border-radius:50%;
  text-align: center;
  line-height: 25px;
  margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

/*responsive*/
@media(max-width: 767px){
  .controls{
    display: none;
  }
}

/* SlideShow Ends */
/* breadCrumbs */


/* BreadCrumbs */

/* Secondary Navbar */

.SecondaryNav
{
  width: -webkit-fill-available;
  display: inline-flex;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%), 0px 0px 1px 0 rgb(0 0 0 / 20%);
  height: auto;
  padding: 10px 5px 10px 20px;
  background-color: #dfdfdf;

}
.SecondaryNav a
{
  display: grid;
  text-shadow: 0px 0px 1.2px #000000;
  padding: 10px 16px;
  color: #464646;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;;
}

/* Dean Page */

.DeanNav
{
  width: -webkit-fill-available;
  display: inline-flex;
 /* box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%), 0px 0px 1px 0 rgb(0 0 0 / 20%);*/
  height: auto;
  padding: 5px 5px -0.5px 5px;
  border-bottom: 1px solid #bfbfbf;

}
.DeanNav a
{
  display: grid;
  text-shadow: 0px 0px 1.2px #000000;
  padding: 4px 10px;
  color:  #707070;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;;
}
.DeanNav a.active1
{
  border-bottom: 1px solid black;
  color:black;
}
.DeanNav a:hover
{
  background-color: #ccc;
}
.bodyContent
{
  padding: 5px;
  background-color:#FFFFFF ;
  border:#FFFFFF;
  display: none;
}

/* Dean Page Layout Table*/
.deanHeader
{
  padding-left: 20px;
  border-bottom: 0.1px solid #ccc;
}
.deanHeader h2
{
  font-size: 20px;
  font-family:'varela round',sans-serif;
}
.sticky {
  background-color: #f9f9f99e;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width:100%;
}
.sticky + .rowDean {
  padding-top: 30px;
}
.rowDean
{
  width: 100%;
  padding:5px 10px;
  display: flex;
}
.columnDean
{
  padding: 10px 20px;
}
.columnDean h5
{
  margin: 0.3em;
  font-size: larger;
  font-family: 'varela round',serif;
  color: #0070c9;
}
.columnDean h4
{
  overflow: hidden;
  margin: 0.2em;
  font-size: larger;
  font-family: 'varela round',serif;
  color: #626262;
}
.rowDean img
{
  box-shadow: 0px 0px 18px 1px #e9e9e9;
  height: 250px;
  width: 250px;
  border-radius: 5px;
}
.tableContainer
{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.externalLink
{
  width: 100%;
  height: auto;
  padding: 5px 8px;
  overflow: hidden;
}
.externalheading
{
  font-family:'Noto sans',sans-serif;
  font-size: 25px;
}
.externalLink p
{
  font-family: 'rubik',sans-serif;
}
.fLink
{
  width: 150px;
  font-family: 'Varela Round',sans-serif;
}
.fLink a
{
  font-weight: 200;
  text-decoration: none;
  color: cornflowerblue;
}
.fLink a:hover
{
  background-color: #fff70090;
  color:#004acf ;
}


/* MessageDesk.php */

.messageDesk{
  background:url("./Images/messageBackground.png");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  padding:50px;
  height: 420px;
  font-family: 'Noto Sans';
}
.messageDesk1
{
  display: none;
}
.deskImage img{
  padding-top: 50px;
  width: 600px;
}

.deskImage {
  float:left;
}

.deskTitle{
  float:left;
  padding-left: 100px;
  font-size:xx-large;
  font-weight: 500;
  letter-spacing: 0.11rem;
  color: #1a1e2c;
}
.deskTitle img
{
  height: 40px;
  width: 60px;
}
.deskTitle strong{
  font-weight: 900;
}

.deskNav{
  float:right;
  padding-right: 40px;
}

.deskNav a{
  text-decoration: none;
  text-align: center;
  padding:14px 18px 12px 18px;
  font-size:20px;
  font-weight: bold;
  border: rgba(26,30,44, 0.2) 1px solid;
  border-radius: 8px;
  color: rgba(26,30,44, 0.6);
}

.deskControls{
  width: auto;
  height: 60px;
}

.deskTabs a:first-child{
padding-left:380px;
}

.deskTabs a{
  text-decoration: none;
  text-align: center;
  padding:8px;
  font-size:22px;
  color: #1a1e2c;
}

.deskSpeech{
  margin-top:50px;
  text-align: justify;
  padding: 0 80px 0 720px;
  line-height: 1.8rem;
}



/* Notice Page */

.noticebody
{  
  display: -webkit-inline-box;
  padding: 20px 0;
  height: 80px;
  width: 85%;
  margin-left: 100px;
  background: url("./Images/noticebackground.jpg");
}
.noticeTitle
{
  padding: 22px 29px;
  margin-left: 100px;
  display: inline-grid;
  float:left;
}
.noticeTitle a
{
  text-decoration: none;
  color: #D7BE69;
}
.noticeContent
{
  padding:0 20px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.noticeSlider{
  float: right;
  margin-left: 50px;
}

.prev,.forw
{
  padding-top:25px;
  position: relative;
}
.prev{
  float:left;
}

}
.forw{
  float:right;
}

.noticeContent{
  float: left;
  width:360px;
  
}

.noticeContent p{
  font-family: 'Noto Sans';
  text-align: center;
}

.noticeContent p img{
  height:16px;
  width:16px;
  margin-bottom: -4px;
}

.noticeContent p span.date{
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  color: #b79d9d;
}

.noticeContent p span.message{
  float:none;
  display: block;
}
.Copyright
{
  color: #7a839a;
  padding-top: 8px;
}


/* Other Parts - Portal and Birthday */
.misc
{
  width: 100%;
}
.birthday
{

}
.Moreoptions
{

}