@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&&family=Ubuntu&family=Rubik:wght@300&family=Varela+Round&family=Bitter&=Open+Sans:wght@400;600&&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
::-moz-selection
{
  background: #2e3547;
  color: #ccd7e1;
}

::selection {
  background: #2e3547;
  color: #ccd7e1;
}

*
{
  cursor: url("./icons/cursor.png"), auto;
}

body{
    background-color:#fdfdfd;
    margin: 0;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#welcomeNotice{
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}



/* Government of India top header */

.topheader p{
  margin: 0;
}

.container{
  margin: 8px 18px 8px 18px !important;
}

.topheader{
  background: #f1f1f1;
  height: 50px;
  font-family: 'Noto Sans', sans-serif;
  font-size: small;
  font-weight: bold;
  padding: 0.5%;
}

.topheader .main-group{
  margin-left:45px;
}

.topheader .group{
  float: left;
  margin: 5.5px;
  padding-right: 10px;
}

.topheader .dept{
  border-left: 1px solid;
  float: left;
  margin: 5.5px;
  padding-left: 6px;
}

.topheader .language{
  float: right;
  margin: 15px;
}

.topheader .language a{
  color: #000000;
  text-decoration: none;
  padding: 0px 16px;
}


/* Top  Header closed */


.header
{
  text-shadow: 1px 0px 4px #a6a6a6;
  font-family: 'Varela Round', sans-serif;
  display: inline-flex;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 90px;
}
.header img
{
    width: 89px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    height: 100%;
}
.header h1
{
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 100%;
    font-size: 24px
}

  hr
  {
    height: 0.8px;
    background: black;
  }

/* navBar */

.topnav {
  padding: 0 10%;
  overflow: hidden;
  background-color: #1b3a4b;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0 rgb(0 0 0 / 20%),
  0px 0px 13px 0 rgb(0 0 0 / 19%);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-shadow: 0px 0px 2px #646464, 0 0 2px #e1e1e1;
  font-family:'Rubik', sans-serif;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 15px;
  transition-duration: 450ms;
}

.active {
  background-color: #1b3a4b;
  color: #f2f2f2;
}

.newsTab button.active {
  background-color: #1b3a4b;
  color: #f2f2f2;
  transition-duration: 2000ms;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 14px;
  text-shadow: 0px 0px 2px #646464, 0 0 2px #e1e1e1;
  background-color: inherit;
  font-family:'Rubik', sans-serif;
  margin: 0;
  transition-duration: 450ms;
  transition-timing-function: ease-in-out;
}

.dropdown-content {
  display: none;
  height: fit-content;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  transition-duration: 450ms;
  transition-timing-function: ease-in-out;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hover Here */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #0a0908;
  color: #FFFFFF;
  text-shadow: 0px 0px 0px #646464, 0 0 0px #e1e1e1;
  box-shadow: 0px 0px 4px 0px rgb(10 10 8), 0px 0px 7px 1px rgb(0 0 0 / 33%);
  border-radius: 5px;
  cursor: hand;
}

.dropbtn:hover
{
  text-shadow: 0px 0px 0px #646464, 0 0 0px #e1e1e1;
  box-shadow: 0px 0px 4px 0px rgb(10 10 8), 0px 0px 7px 1px rgb(0 0 0 / 33%);
  cursor: hand;
}


.dropdown-content a:hover {
  background: none;
  box-shadow: none;
  color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* navBar Ends Here */
.article
{
  display: inline-flex;
  height: auto;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.article fieldset
{
  height: auto;
  width: 100%;
}

.banner
{
  width:100%;
  border: 0.24px solid #ccc;
  height: 420px;
}
/* Current Update*/

.current_update
{
  width: 100%;
  background: url("./Images/messageBackground.png");
  background-size:  100% 100%;
  background-repeat: no-repeat;
  height: auto;
}
.current_update fieldset
{
  border-radius: 8px;
  height: 90px;
}
.current_update fieldset legend
{
  font-family: 'Varela Round', sans-serif; 
  font-size: 18px;
}
.current_update h4
{
  text-align:center; 
  color:#6b6b6b;
  font-family:'Varela Round', sans-serif;
  font-weight:bold; 
  margin: 0;
}

.current_update a
{
  text-decoration: none;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 
    0 0 10px #fff, 
    0 0 20px #fff,
    0 0 30px #e2e2e2, 
    0 0 40px #e2e2e2, 
    0 0 50px #e2e2e2, 
    0 0 60px #e2e2e2, 
    0 0 70px #e2e2e2;
  }
  to {
    text-shadow: 
    0 0 20px #fff, 
    0 0 30px #2e3547, 
    0 0 40px #2e3547, 
    0 0 50px #2e3547,
    0 0 60px #2e3547, 
    0 0 70px #2e3547, 
    0 0 80px #2e3547;
  }
}

/* End of Update */


.thought_for_Day
{
  background: url("./Images/messageBackground.png");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  border-radius: 6px;
  padding: 10px;
  height: auto;
}
.thought_for_Day fieldset legend
{
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

.br 
{
  display: block;
  margin-bottom: 0.6em;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px 20px 10px 20px;
  background-color: #b7b7a4;
  height: auto;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row
{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

 .dropdown-menu-content
{
  color: white;
  border-radius: 5px;
  padding: 0.4px 0px 0.4px 12px ;
  background-color: #3d442a;
}

.footer{

  font-family: 'Noto Sans';
}

.footer .footer-main
{
  background: #2f3546;
  width: 100%;
  height: 300px;
  margin:0;
  /* float: left; */
}

.footer .footer-heading{
  padding:20px 40px;
  width: 35%;
  color: #ffffff;
  float:left;
}

.footer-heading .header-block{
  height: 60px;
  margin: 0 auto;
}

.footer-heading .header-block img{
  float: left;
  height: 60px;
  width: 60px;
}

.footer-heading .header-block h3{
  letter-spacing: 0.2em;
  padding: 16px 70px;
}

.footer-heading .footer-subheader{
  margin-top: 30px;
}

.footer-heading .footer-subheader a{
  font-size: 13px;
  text-decoration: none;
  color: #7a839a;
  line-height: 1.5rem;
  font-weight: 600;
  transition-duration: 650ms;
}

.footer-heading .footer-subheader a:hover
{
  color: #e4eff8;
}
.socials a
{
  text-decoration: none;
  color: #677089;
  transition-duration: 700ms;
}
.socials a:hover
{
  color: white;
}
.socials .bi
{
  font-size: 25px;
}
.footer-heading .socials{
  padding-top:8px;
}

.footer-heading .socials .bi{
  padding:0 8px;
}
.footer-heading .socials img{
  padding:0 8px;
}

.footer-main .footer-subgroup{
  font-family: 'Varela Round';
  width:18%;
  margin: 0 auto;
  float: left;
  padding-top: 50px;
  color: #7a839a;
}

.footer-main .footer-subgroup h4{
  letter-spacing: 0.12em;
}

.footer-main .footer-subgroup a{
  text-decoration: none;
  color: #e4eff8;
  font-size: small;
   transition-duration: 730ms;
   transition-timing-function: ease-in-out;
}

.footer-main .footer-subgroup a:hover
{
  color: white;
  font-size: 19px;
}

.footer-secondary{
  height: 40px;
  background: #0d101c;
}

.footer-secondary-links{
  padding:6px 40px;
}

.footer-secondary-links a{
  text-decoration: none;
  color: #7a839a;
  padding:0 15px;
  font-size: small;
  transition-duration: 700ms;
}

.footer-secondary-links a:hover
{
  color: #e4eff8;
}
.collaps,.content,.footerSecondary
{
  display: none;
}


/* Footer Ending */



/* Combined View*/

.combined
{
  display: inline-flex;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0 10%;
}
.newsTab
{
  display: flex;
  width: 99.4%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #efefef;
  align-items: center;
  justify-content: space-between;
}

.newsContent {
  margin: 0;
  display: none;
  height: 250px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.newsTab button {
  margin: 0;
  background: #efefef;
  text-shadow: 0px 0px 2px #646464, 0 0 2px #e1e1e1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.newsTab button:hover {
  text-shadow: 0px 0px 0px #646464, 0 0 0px #e1e1e1;
}


/* Slideshows Starts */


.home{
  height: 100%;
  overflow:hidden;
  position: relative;
}

.home .slide{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display:none;
  padding:0 15px;
  animation: slide 2s ease;
}
.home .slide.active{
  display: flex;
}
@keyframes slide{
  0%{
    transform:scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.SlideshowContainer{
  max-width: 1170px;
  margin:auto;

}

.home .SlideshowContainer{
   flex-grow: 1;
}
.home .caption{
  background-color: #f9f9f99e;
  backdrop-filter: blur(8px);
  width: 65%;
  padding-top: 10px;
  padding-left: 22px;
  margin-top: 100px;
  position: absolute;
  border-radius: 13px;
}
.home .caption h1{
  font-size:42px;
  color:#020056;
  margin:0;

}
.home .slide.active .caption h1{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1s;
}
.home .caption p{
  font-size: 18px;
  margin:15px 0 30px;
  color:#020056;
}
.home .slide.active .caption p{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
  opacity:0;
  animation: captionText .5s ease forwards;
  animation-delay:1.4s;
}

@keyframes captionText{
  0%{
    opacity:0; transform: translateX(-100px);
  }
  100%{
   opacity:1; transform: translateX(0px);
  }
}

.home .controls .prew,
.home .controls .next{
 position: absolute;
 z-index:0;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prew:hover,
.home .controls .next:hover{
  background-color: #000000;
}
.home .controls .prew{
 left:0;
 background:#0000001f;
 backdrop-filter: blur(9px);
 border-right: 5px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
}
.home .controls .next{
 right:0;
  background:#0000001f;
 backdrop-filter: blur(9px);
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}

.home .indicator{
  position: absolute;
  left:50%;
  bottom:30px;
  z-index:0;
  transform: translateX(-50%);
}

.home .indicator div{
  display: inline-block;
  width:25px;
  height: 25px;
  color:#ffffff;
  background-color: #FF5722;
  border-radius:50%;
  text-align: center;
  line-height: 25px;
  margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

/*responsive*/
@media(max-width: 767px){
  .controls{
    display: none;
  }
}

/* SlideShow Ends */
/* breadCrumbs */


/* BreadCrumbs */

/* Secondary Navbar */

.SecondaryNav
{
  width: -webkit-fill-available;
  width: -moz-available;
  display: inline-flex;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%), 0px 0px 1px 0 rgb(0 0 0 / 20%);
  height: auto;
  padding: 10px 5px 10px 20px;
  background-color: #dfdfdf;

}
.SecondaryNav a
{
  display: grid;
  text-shadow: 0px 0px 1.2px #000000;
  padding: 10px 16px;
  color: #464646;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;;
}

/* Dean Page */

.DeanNav
{
  width: -webkit-fill-available;
  display: inline-flex;
  height: auto;
  padding: 5px 5px -0.5px 5px;
  padding: 5px 5px 0 5px;
  width: -moz-available;
  margin: 0 7%;
  border-bottom: 1px solid #bfbfbf;

}
.DeanNav a
{
  display: grid;
  text-shadow: 0px 0px 1.2px #000000;
  padding: 4px 10px;
  color:  #707070;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;;
}
.DeanNav a.active1
{
  border-bottom: 1px solid black;
  color:black;
}
.DeanNav a:hover
{
  background-color: #ccc;
}
.bodyContent
{
  padding: 5px;
  background-color:#FFFFFF ;
  border:#FFFFFF;
  display: none;
}

/* Dean Page Layout Table*/
.deanHeader
{
  padding-left: 20px;
  border-bottom: 0.1px solid #ccc;
}
.deanHeader h2
{
  font-size: 20px;
  font-family:'varela round',sans-serif;
}
.sticky {
  background-color: #f9f9f99e;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width: -moz-available;
  width:-webkit-fill-available;
}
.sticky + .rowDean {
  padding-top: 30px;
}
.rowDean
{
  width:100%;
  padding:5px 10px;
  display: flex;
}
.columnDean
{
  display: inline-grid;
  justify-items: center;
  padding: 10px 20px;
}
.columnDean h5
{
  margin: 0.3em;
  font-size: larger;
  font-family: 'varela round',serif;
  color: #0070c9;
}
.columnDean h4
{
  overflow: hidden;
  margin: 0.2em;
  font-size: larger;
  font-family: 'varela round',serif;
  color: #626262;
}
.rowDean img
{
  box-shadow: 0px 0px 18px 1px #e9e9e9;
  height: 230px;
  width: 230px;
  border-radius: 5px;
}
.tableContainer
{
  margin: 10px 60px;
  width: auto;
}



.externalLink
{
  width: 100%;
  height: auto;
  padding: 5px 8px;
  overflow: hidden;
}
.externalheading
{
  font-family:'Noto sans',sans-serif;
  font-size: 25px;
}
.externalLink p
{
  font-family: 'rubik',sans-serif;
}
.fLink
{
  width: 150px;
  font-family: 'Varela Round',sans-serif;
}
.fLink a
{
  font-weight: 200;
  text-decoration: none;
  color: cornflowerblue;
  transition-duration: 600ms;
}
.fLink a:hover
{
  background-color: #fff70090;
  color:#004acf ;
}


/* MessageDesk.php */

.messageDesk{
  display: block;
  background:url("./Images/messageBackground.png");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  padding:40px 5.5%;
  height: auto;
  font-family: 'Noto Sans';
}

.messageDeskCombined
{
  display: flex;
  height: auto;
  width: 100%;
}
.imagedirector
{
  margin-right: 3.5%;
  height: auto;
  width: 50%;
  width: auto;
}
.deskTitle{
  float:right;
  padding-right:4%;
  font-size:xx-large;
  font-weight: 500;
  letter-spacing: 0.11rem;
  color: #1a1e2c;
}
.deskTitle img
{
  height: 40px;
  width: 60px;
}
.deskTitle strong{
  font-weight: 900;
}

.deskSpeech{
  margin-top:2.54%;
  text-align: justify;
  line-height: 1.8rem;
  font-family:'Noto Sans',sans-serif;
  color: #61731d;
  width: -moz-available;
}

/* Notice Page */
.item1,
.item2,
.item3
{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  
}
.item1Content0,
.item2Content0,
.item3Content0
{
  padding: 5px 0;
  display: flex;
  justify-content: center;

}
.item1Content,
.item2Content,
.item3Content
{
  /*background: #ccc;*/
}
.item1Content a, 
.item1Content0 a,
.item2Content a,
.item2Content0 a,
.item3Content a,
.item3Content0 a
{
  font-family: 'varela round',sans-serif;
  text-decoration: none;
  color: #006694;
  transition-duration: 400ms;
}
.item1Content a:hover, 
.item1Content0 a:hover,
.item2Content a:hover,
.item2Content0 a:hover,
.item3Content a:hover,
.item3Content0 a:hover
{
  text-shadow: 0px 0px 2px #006694a1, 0 0 2px #6cabc89e;
}
.notice_date
{
  color:#545638;
  font-family:'Ubuntu', sans-serif;;
}
hr.new1 {
  border-top: 0.25px solid #00579f;
}
.viewall
{
  padding: 30px 0;
  width:auto;
  margin: 0 120px;
  height: auto;
}
.noticehead
{
  padding-left: 20px;
  border-bottom: 0.1px solid #ccc;
  background-color: #f9f9f99e;
  backdrop-filter: blur(8px);
  position: relative;
  top: 0;
  width: -moz-available;
  width:-webkit-fill-available;
  display: flex;
}
.noticehead h4
{
  font-size: 30px;
  font-family:'varela round',sans-serif;
  font-weight: 500;
}
.noticehead span
{
  font-size: 30px;
  margin: auto 7px;
  font-weight: 700;
}


.timeline {
   display: flex;
   flex-direction: column;
   margin: 20px auto;
   position: relative;
   box-sizing: border-box;
}
 .timeline__event {
   margin-bottom: 20px;
   position: relative;
   display: flex;
   margin: 20px 0;
   border-radius: 6px;
   align-self: center;
   width: 50vw;
   box-sizing: border-box;
}
 .timeline__event:nth-child(2n + 1) {
   flex-direction: row-reverse;
}
 .timeline__event:nth-child(2n + 1) .timeline__event__date {
   border-radius: 0 6px 6px 0;
}
 .timeline__event:nth-child(2n + 1) .timeline__event__content {
   border-radius: 6px 0 0 6px;
}
 .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
   content: "";
   width: 2px;
   height: 100%;
   background: #f6a4ec;
   position: absolute;
   top: 0%;
   left: 50%;
   right: auto;
   z-index: -1;
   transform: translateX(-50%);
   animation: fillTop 2s forwards 4s ease-in-out;
}
 .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
   content: "";
   width: 100%;
   height: 2px;
   background: #f6a4ec;
   position: absolute;
   right: 0;
   z-index: -1;
   top: 50%;
   left: auto;
   transform: translateY(-50%);
   animation: fillLeft 2s forwards 4s ease-in-out;
}
 .timeline__event__title {
   font-size: 1.2rem;
   line-height: 1.4;
   text-transform: uppercase;
   font-weight: 600;
   color: #9251ac;
   letter-spacing: 1.5px;
}
 .timeline__event__content {
   padding: 20px;
   box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
   background: #fff;
   width: calc(40vw - 84px);
   border-radius: 0 6px 6px 0;
}
 .timeline__event__date {
   color: #f6a4ec;
   font-size: 1.5rem;
   font-weight: 600;
   background: #9251ac;
   display: flex;
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   padding: 0 20px;
   border-radius: 6px 0 0 6px;
   box-sizing: border-box;
}
 .timeline__event__icon {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #9251ac;
   padding: 20px;
   align-self: center;
   margin: 0 20px;
   background: #f6a4ec;
   border-radius: 100%;
   width: 40px;
   box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
   padding: 40px;
   height: 40px;
   position: relative;
   box-sizing: border-box;
}
 .timeline__event__icon i {
   font-size: 32px;
   box-sizing: border-box;
}
 .timeline__event__icon:before {
   content: "";
   width: 2px;
   height: 100%;
   background: #f6a4ec;
   position: absolute;
   top: 0%;
   z-index: -1;
   left: 50%;
   transform: translateX(-50%);
   animation: fillTop 2s forwards 4s ease-in-out;
}
 .timeline__event__icon:after {
   content: "";
   width: 100%;
   height: 2px;
   background: #f6a4ec;
   position: absolute;
   left: 0%;
   z-index: -1;
   top: 50%;
   transform: translateY(-50%);
   animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
 .timeline__event__description {
   flex-basis: 60%;
   box-sizing: border-box;
}
 .timeline__event--type2:after {
   background: #555ac0;
   box-sizing: border-box;
}
 .timeline__event--type2 .timeline__event__date {
   color: #87bbfe;
   background: #555ac0;
   box-sizing: border-box;
}
 .timeline__event--type2:nth-child(2n + 1)
 .timeline__event__icon:before,
 .timeline__event--type2:nth-child(2n + 1)
 .timeline__event__icon:after
 {
   background: #87bbfe;
   box-sizing: border-box;
}
 .timeline__event--type2 .timeline__event__icon {
   background: #87bbfe;
   color: #555ac0;
   box-sizing: border-box;
}
 .timeline__event--type2 .timeline__event__icon:before,
 .timeline__event--type2 .timeline__event__icon:after {
   background: #87bbfe;
   box-sizing: border-box;
}
 .timeline__event--type2 .timeline__event__title {
   color: #555ac0;
   box-sizing: border-box;
}
 .timeline__event--type3:after {
   background: #24b47e;
   box-sizing: border-box;
}
 .timeline__event--type3 .timeline__event__date {
   color: #aff1b6;
   box-sizing: border-box;
   background-color: #24b47e;
}
 .timeline__event--type3:nth-child(2n + 1)
 .timeline__event__icon:before,
 .timeline__event--type3:nth-child(2n + 1)
 .timeline__event__icon:after {
   background: #aff1b6;
   box-sizing: border-box;
}
 .timeline__event--type3 .timeline__event__icon {
   background: #aff1b6;
   color: #24b47e;
   box-sizing: border-box;
}
 .timeline__event--type3 .timeline__event__icon:before,
 .timeline__event--type3 .timeline__event__icon:after {
   background: #aff1b6;
   box-sizing: border-box;
}
 .timeline__event--type3 .timeline__event__title {
   color: #24b47e;
   box-sizing: border-box;
}
 .timeline__event:last-child .timeline__event__icon:before {
   content: none;
   box-sizing: border-box;
}

 @keyframes fillLeft {
   100% {
     right: 100%;
  }
}
 @keyframes fillTop {
   100% {
     top: 100%;
  }
}
 @keyframes fillLeftOdd {
   100% {
     left: 100%;
  }
}




/* Miscs Parts */
.misc
{
  padding: 12px 18px;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.misc svg
{
  font-size: 60px;
}
.circle span
{
  color: gainsboro;
}
.circle
{
  display: inline-grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align:center;
  margin: 8px 10px;
  background:#1b3a4b;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition-duration: 550ms;
  transition-timing-function: ease-in-out;
}
.circle:hover
{
  color: white;
  background:black;
  box-shadow:0px 0px 8px 0px #000000, 0 0 1px 0px #00000000;
}
.circle:hover .bi {
  color: white;
}

.circle .bi
{
  font-size: 60px;
  color: gainsboro;
}
.misc a
{
  text-decoration: none;
}

.misc a:active
{
  text-decoration: none;
}

/* Misc Ends Here */

/* Notice Ends Here */

.Copyright
{
  color: #7a839a;
  padding-top: 8px;
}


/* Other Parts - Portal and Birthday */

/* Gallery Pages */

/* Images Gallery */



.wrapper{
  display: inline-flex;
  background: #fff;
  height: 40px;
  width: -webkit-fill-available;
  width: -moz-available;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background:#1c3a4b;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4,
#option-5:checked:checked ~ .option-5{
  border-color:#2e3547;
  background:#2e3547;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-4:checked:checked ~ .option-4 .dot,
#option-5:checked:checked ~ .option-5 .dot{
  background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-4:checked:checked ~ .option-4 .dot::before,
#option-5:checked:checked ~ .option-5 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#option-4:checked:checked ~ .option-4 span,
#option-5:checked:checked ~ .option-5 span{
  color: #fff;
}




/* Gallery Pages Settings */

/* Video Gallery */
.vcontainer
{
  width: -moz-available;
  width:-webkit-fill-available;
  height: auto;
  padding: 10px 15px;
  background: #ececec;
}
.vCaption
{
  margin: 8px;
  display: inline-grid;
  justify-items: center;
}
.vCaption:nth-child(even)
{
  margin-left: 45px;
}
.vCaption iframe
{
  width: 640px;
  height: 400px;
}
.vCaption span
{
  color:#001153;
  margin-top: 10px;
  font-size: 16.5px;
  font-family:'Varela Round', sans-serif;
}


/* Video Gallery */


/* Magazine Gallery */
.magazine
{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  justify-items: center;
  margin: 0;
  padding: 2% 10%;
}

.m_profile
{
  padding: 10px 2px;
  height: auto;
  width: 140px;
  margin: 5.6px;
}
.m_profile img
{
  border-radius: 2.67px;
  height: 100%;
  width:  100%;
}

.m_profile a
{
  text-decoration: none;
  display: inline-grid;
  justify-items: center;
}

.m_profile a span
{
  color: #303766;
  font-family: 'Ubuntu', sans-serif;
  margin: 5px 2px;
}

/* Magazine Gallery */

/* Gallery Pages setting
s ends */


/* Academics Page */



/* Academic Programes */
.AcMain
{
 margin: 5px 0 0 0;
 padding:0 10%;
}
.AcContents
{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
} 
.acdpB
{
  width: 100%;
  background:url("./Images/acdB.jpg");
  backdrop-filter: blur(8px);
  background-size:  100% 100%;
  background-repeat: no-repeat;
  font-family:'ubuntu',sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #161616;
  padding: 18px;
  text-align: left;
  outline: none;
  font-size: 25px;
  color: #817f7f;
  border-radius: 2.6px;
}
.acdpB:after {
  content: '\02795';
  color: white;
  float: right;
  margin-left: 5px;
}

.show:after {
  content: "\2796";
}
.btechAcademic,
.bdesAcademic,
.mtechAcademic,
.mdesAcademic,
.phdAcademic
{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fbfbfb;
  height: auto;
  font-family: 'ubuntu',sans-serif;
  color: #747474;
}

.btechAcademic ul,
.mtechAcademic ul
{
  list-style: none
}
.btechAcademic ul ul,
.mtechAcademic ul ul
{
  list-style: none
}

/* Academic Calendar */
.calMain
{
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 2% 4% ;
  text-align: center;
}
.calTable
{
  align-content: center;
}
.calMain h3
{
  font-family: 'varela round',sans-serif;
}
#tb1,#tb2
{
  margin: 4% 0;
}
.calTable th,td
{
  border: 0.5px solid #ccc;
}
.calTable table
{
  font-family: 'ubuntu',sans-serif;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 5px !important;
  border-collapse: collapse;  
}
.calTable table caption
{
  padding: 0.55% 0;
  font-size: x-large;
  color: #3a4c67;
}
.calTable table th
{
  background: #3b4e5d;
  color: whitesmoke;
  padding: 10px 6px;
}
.calTable table tr:nth-child(even)
{
  background-color: #ededed;
}
.calTable table td
{
  text-align: center; 
  vertical-align: middle;
  padding: 10px 6px;
}
.calTable table th:first-child
{
  border-top-left-radius: 5px;
}
.calTable table th:last-child
{
  border-top-right-radius: 5px;
}
.calNotice
{
  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  padding: 1.25% 0.5%;
}
.calNotice h4
{
  font-family: 'ubuntu',sans-serif;
  color: #424679;
}







/* Admission */

    /* Academic Guidelines */
    .acgdl
    {
      display:block;
      width: -moz-available;
      width: -webkit-fill-available;
      padding: 0 10%;
    }
    .acgl_ug,
    .acgl_pg,
    .acgl_phd
    {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }

    .acgl_ug_link,
    .acgl_pg_link,
    .acgl_phd_link
    {
      display: inline-flex;
      justify-items: center;
      padding: 12px 16px;

    }

    .acgl_ug_link a,
    .acgl_pg_link a,
    .acgl_phd_link a
    {
      text-decoration: none;
      color:#1d5577;
      font-family:'ubuntu' ,sans-serif;
    }

    .acgl_ug_link a:hover,
    .acgl_pg_link a:hover,
    .acgl_phd_link a:hover
    {
      text-shadow: 0px 0px 2px #646464, 0 0 0px #e1e1e1;
    }
    /* Academic Guidelines */




/* Admission Ends */

/* About us Page */


.aboutHeader
{
  padding:0 20px;
  border-bottom: 0.1px solid #ccc;
  background-color: #f9f9f99e;
  backdrop-filter: blur(8px);
  width:-webkit-fill-available;
  width: -moz-available;
}
.body
{
  font-family: 'noto sans',sans-serif;
  line-height: 1.6em;
  width: auto;
  margin: 10px 60px;
}
.aboutHeader h2
{
  color:#5b5b5e;
  font-size: 25px;
  font-family:'varela round',sans-serif;
}

.aboutHeader h4
{
  color:#454545;
  font-family:'varela round',sans-serif;
}
.secondAbout
{
  display: block;
}
.otherPage
{
  display: flex;
  height: auto;
  width: 600px;
  margin: auto;
  padding: 20px;
}
.card
{
  margin: 20px;
  display: grid;
  height: 180px;
  width: 200px;
  border: 1px solid #2a3363;
  border-radius: 8px;
  color:#222742;
}
.card:hover
{
  background:#0d1024;
  color: #c1c1c1;
  box-shadow:0px 0px 20px 3px rgb(0 0 0 / 39%), inset 0px 0px 20px 2px rgb(0 0 0 / 19%);
}
.card img
{
  width: 50%;
  margin: 10px auto;
}
.card figcaption
{
  font-size: large;
  margin: 2px 20px
}

/* Bod Member */

.Directors
{
  padding: 12px 30px;
  margin: 0 -5px;
}
.members
{
  font-family: ;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 16px;
  text-align: center;
}
.members img
{
  border-radius: 5px;
}

.profile
{
  display: inline-flex;
  float: left;
  width: 100%;
  padding: 0 10px;
}
.Directors:after
{
  content: "";
  display: table;
  clear: both;
}
.nameDirector
{
  color: #000;
  width: max-content;
  font-family: 'noto Sans', sans-serif;;
  font-weight: bold;
  font-size: x-large;

}
.designation
{
  font-size:large;
  color: #4c4c4c;
  width: max-content;
  font-family: 'noto Sans', sans-serif;
}

/* BOD Ends*/

/* Administration*/

.adminPageContent
{
  width: 100%;
  margin: 0;
}
.adminDetails {
  border-radius: 6px;
  background-color:#213e4e;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #e0e0e0;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: 'varela round',sans-serif;
}

.visibleldTab, .adminDetails:hover {

  background-color: #0a0908;
  color: #FFFFFF;
  text-shadow: 0px 0px 0px #646464, 0 0 0px #e1e1e1;
  box-shadow: 0px 0px 4px 0px rgb(10 10 8), 0px 0px 7px 1px rgb(0 0 0 / 33%);
}

.adminDetails:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.visibleldTab:after {
  content: "\2212";
}

.adminProfile
{
  gap: 20px;
  padding: 0 18px;
  max-height: 0;
  justify-items: space-evenly;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f9f9f9;
}


.sticky + .rowDean {
  padding-top: 30px;
}


/* Local Administrators */


/* Senate Settings*/

.footerContent
{
  margin: 0;
  padding: 20px 40px;
  color: #7a7a7a;
  background-color:#cdcdcd;
}
.footerContent a
{
  text-decoration: none;
  color: #7a7a7a;
}
