@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn 
  {
    display: none;
  }
  .topnav a.icon 
  {
    float: right;
    display: block;
  }
    .header
    {
      height: 100px;
      padding-bottom: 10px; /* The width is 100%, when the viewport is 800px or smaller */
    }
  .header img 
  {
      width: 59px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 15px;
      height: 59px;
  }
  .header h1
  {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 70%;
    font-size: 18px
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



@media screen and (max-width: 600px){
body{
    background-color:#f2f3f3;
    padding: 5px 5px 0px 5px;
    }
.active a
{
  padding-top: 5px;
}
.topnav .icon
{

  width: 25px;
  color: white;
}
.bar1, .bar2, .bar3 .topnav .icon:hover
{

  background-color: #FFFFFF;
  color: black;
}
.dropdown .dropbtn
{
  color: white;
}
.dropdown-content
{
  background-color: #6b705c;
  height:300px ;
}
.dropdown-content a
{
  color: black !important;
}
.dropdown-content a:hover {
  background-color: #283618;
  color: white;
}

.topnav
{
  background-color: #6b705c;
}
.topnav a{
  color: white;
}
.header {
      display: inline-flex;
    height: 120px;
    padding-bottom: 15px; 
  }
.header img 
  {
    justify-content: center;
    width: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    height: 50px;
  }
.header h1
  {
    text-align: left;
    position: relative;
    padding-top: 0px;
    padding-left: 12px;
    height: 90%;
    
  }
  .article
  {
    width: 100%;
    position: relative;
    display: block;
  }
  .banner
  {
    border: 1px solid black;
    height: 310px;
  }  
}

