@media screen and (max-width: 960px) {
  body{
    background-color:#f2f3f3;
    padding: 0px 5px 0px 5px;
    }
    .header
    {
      height: 100px;
      padding-bottom: 10px;
    }
  .header img 
  {
      width: 59px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 15px;
      height: 59px;
  }
  .header h1
  {
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 70%;
    font-size: 18px
  }
.topheader
{
  display: inline-flex;
  font-size: 10;
  width: 97%;
}
.headname
{
  font-weight: 600;
  width:35%;
  font-size: 11px;
  font-family: 'Kalam', cursive;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 15px;
  display: inline-grid;
  border-right: 1px solid black;
  justify-items: end;
}
.Ministry
{
  font-weight: 600;
  font-family: 'Kalam', cursive;
  font-size: 11px;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  padding-left: 15px;
  display: inline-grid;
  justify-items: start;
}
}

@media screen and (max-width: 960px){
.active a
{
  padding-top: 5px;
}

.header 
  {
    display: inline-flex;
    height: 120px;
    padding-bottom: 15px; 
  }
  .header img 
  {
    justify-content: center;
    width: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    height: 50px;
  }
  .header h1
  {
    text-align: left;
    position: relative;
    padding-top: 0px;
    padding-left: 12px;
    height: 90%;
    
  }
  .article
  {
    width: 100%;
    position: relative;
    display: block;
  }
  .article fieldset
  {
    height: auto;
    width: 92.5%;
  }
  .banner
  {
    height: 200px;
  }
}

@media screen and (max-width: 600px)
{
  .SecondaryNav
{
  display: inline-flex;
  width: -webkit-fill-available;
  overflow-x: scroll;
}
  .SecondaryNav a
  {
    display: grid;  
  }
}


/* NavBar */

@media screen and (max-width: 960px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


@media screen and (max-width: 960px)
{
  .column
  {
    width: 100%;
    height: auto;
  }
}

/* NavBar Ends */

