body
{
	padding: 0px 0px 0px 0px;
}
.container
{
	padding-left:25px;
	padding-top: 15px;
	background-color: rgb(242, 225, 218);
	border-radius: 30px;
	height: 100%;
	width: 98.5%;
}
.navbar
{
	padding: 15px;
}
.navbar ul 
{
	padding-right: 130px;

}
.navbar ul li 
{
	list-style: none;
	float: right;
	padding: 30px;
}