body
{
   padding: 0px 30px 0px 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fafcfd;
  background-repeat: no-repeat;
  background-size: cover;
}

.header
{
   width: 100%;
   height: 150px;
   padding: 2px;

}
.header h3{
   float: left;
   position: absolute;
}

.introduction
{
background-color: #ffffff0d;  
 backdrop-filter: blur(6px);
 padding: 20px;
   height: fit-content;
   width: auto;
   position: relative;
   overflow: auto;
   border-radius: 20px;
   /* display: ; */
}
.content
{  
   top: 20px;
 backdrop-filter: blur(20px);
 padding: 15px;
   height: fit-content;
   width: 61%;
   border-radius: 0px 0px 15px 15px;
   background-image: linear-gradient(150deg,#fafcfd,#fafcfd , #fafcfd);
}
.introduction .photo
{
   height: 15%;
   width: 35%;
   float: right;
   position: var();
   padding-top: 8px;
   padding-bottom: 8px;
   display: block;
}
/* - Name of the Page Heading -*/
.heading h1
{
   font-family: 'Lora', serif;
   color: #403f3f;
   padding-left: 75px;
   padding-top: 10px;
   padding-bottom: -10px;
   text-shadow: 2px 2px 4px #fafcfd;
}
.content h2
{
   font-family: 'STIX Two Text', serif;
   color: fafcfd;
   padding-left: 20px;
}
.content u
{
   color: fafcfd;
}
.heading
{
   padding: 8px;
   height: auto;
   width: auto;
   background-image: linear-gradient(to right, #fafcfd, #fafcfd , #fafcfd);
   border-top-left-radius: 15px ;
}
.content p
{
   font-display: block;
   color: #fafcfd;
   font-size: 22px;
}

@media only screen and (max-width: 850px) {
  .photo {
    position: relative;
    float: center;
    width: 50%;
    height: 65%; 
  }
  .content
  {
      padding-top:10px ;
      border-radius: 15px 15px 15px 15px ;
      top: 20px;
      width: 90%;
      display: inline-block;
      position: relative;
  }
  .content p 
{
      font-size: 20px;
}

}

@media only screen and (max-width: 600px) {
  .photo {
    position: relative;
    float: center;
    width: 50%;
    height: 65%;
    padding-right: 120px;
    padding-left: 10px;
    
  }
      .content p 
      {
            font-size: 18px;
      }
  .content
  {
      border-radius: 15px 15px 15px 15px ;
      top: 0px;
      width: 90%;
      display: inline-block;
      position: relative;
  }
}


@media only screen and (max-width: 320px) {
  .photo {
    position: relative;
    float: center;
    height: auto;
    width: auto;
  }
.content p 
{
   font-size: 16px;   
}
  .content
  {
      border-radius: 15px 15px 15px 15px ;
      top: 0px;
      width: 90%;
      display: inline-block;
      position: relative;
  }
}

/* NavBar and DropDown tag */
.navbar
{
   padding: 5px;
   height: fit-content;
   width: 100%;
   border-width: 1.5px;
   position: relative;
   border-bottom-style: solid;
   border-color: #fafcfd;

}

.navbar ol
{
   list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

}

.navbar ol ol 
{
	position: absolute;
	padding: 0px;
	min-width: 150px;
	display: none;
	top: 100%;
	left: 0;
}

.navbar li
{
   float: right;
    padding: 0px 10px 0px 10px;
}

.navbar ol ol li:hover 
{
   display: block;
   position: absolute;
}
.navbar ol ol li {
	position: relative ;
}
.navbar li a
{
   display: block;
   text-align: center;
  padding: 14px 16px;

}
.navbar li a:hover
{
   /* cursor: ; */
   background-color: #fafcfd;
   color: fafcfd;
   border-radius: 8px;
}










/* Footer Tag */
.footer
{
   background-color: #fafcfd;  
 backdrop-filter: blur(4px);
   padding: 5px;
   bottom: 0px;
   height: fit-content;
   width: 100%;
   border-width: 1.5px;
   position: relative;
   border-top-style: solid;
   border-color: #fafcfd;
   border-radius: 0px 0px 15px 15px;


}

.footer a
{
   color: #000000;
   display: table-cell;
  padding: 10px 10px 10px 10px;

}
.footer a:hover
{
   cursor: pointer;
   background-color: #fafcfd;
   color: fafcfd;
   border-radius: 3px;
   border-radius: 10px 10px 10px 10px;
}


#details {
  font-family: 'Andada Pro', serif;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
 color: fafcfd;
 background-color: #fafcfd;
    backdrop-filter: blur(4px);
    text-align: center;
}

#details td, #details th {
  border: 1px solid #fafcfd;
  padding: 8px;
}

#details tr:nth-child(even){background-color: #fafcfd;}

#details tr:hover {
   background-color: #fafcfd;
   color: black;
}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fafcfd;
  color: fafcfd;
}

dl
{
   font-size: 20px;
    padding: 15px;
    width: 100%;
}
dd { 
  display: block;
  margin-left: 40px;
  padding: 5px;
  width: 100%;
  font-family: 'Playfair Display', serif;
  color: fafcfd;
}
dt
{
   color: fafcfd;
   font-size: 22px;
   font-family: 'STIX Two Text', serif;;
}

