@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body{

    background-color:#f2f3f3;
    padding: 0px 10px 0px 10px;
}
.topheader
{
    padding-top: 0px;
    display: inline-flex;
    color: rgb(0,0,0);
    font-size: 0.95em;
    border-bottom: 1px solid rgb(238,238,238);
    width: 100%;
}
.vl
{
  border-left: 0.5px solid green;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.header{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: inline-flex;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 50px;
    height: 90px;
}
.header img 
{
    width: 89px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    height: 100%;
}
.header h1
{
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 100%;
    font-size: 24px
}

  hr
  {
    height: 0.8px;
    background: black;
  }

/* navBar */

.topnav {
  overflow: hidden;
  background-color: #4F5442;
  border-radius: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4F5442;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Noto Sans Display', sans-serif;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hover Here */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #6C735A;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: hand;
}

.dropbtn:hover
{
  cursor: hand;
}


.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content .meganews {
  background: red;
  padding: 16px;
  color: white;
}



.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* navBar Ends Here */
.article
{
  display: inline-flex;
  height: auto;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.article fieldset
{
  height: auto;
  width: 100%;
}

.banner
{
  border: 1px solid black;
  height: 420px;
}
.thought_for_Day 
{
  background-color: #e3e3e3;
  border-radius: 6px;
  padding: 10px;
  height: auto;
}
.thought_for_Day fieldset legend
{
  font-family: 'Klee One', cursive;
  font-size: 20px;
}
.br {
      display: block;
      margin-bottom: 0.5em;
    }
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px 20px 10px 20px;
  background-color: #b7b7a4;
  height: auto;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row
{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

 .dropdown-menu-content
{
  color: white;
  border-radius: 5px;
  padding: 0.4px 0px 0.4px 12px ;
  background-color: #3d442a;
}

@media screen and (max-width: 600px)
{
    .column {
    width: 90%;
    height: auto;
  }
  .row
  {
    display: inline-block;
  }
}

.footer
{
  background-color: #606c38;
  padding-top: 1.5px;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
}

/* breadCrumbs */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
