body
{
   padding: 0px 30px 0px 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(242, 225, 218);
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction
{
background-color: #ffffff0d;  
 backdrop-filter: blur(6px);
 padding: 20px;
   height: fit-content;
   width: auto;
   position: relative;
   overflow: auto;
   border-radius: 20px;
   display: ;
}
.containt
{  
   top: 20px;
 backdrop-filter: blur(20px);
 padding: 15px;
   height: fit-content;
   width: 61%;
   border-radius: 0px 0px 15px 15px;
   background-image: linear-gradient(150deg,#000000,#0000003d , #000000);
}
.introduction .photo
{
   height: 15%;
   width: 35%;
   float: right;
   position: var();
   padding-top: 8px;
   padding-bottom: 8px;
   display: block;
}
/* - Name of the Page Heading -*/
.heading h1
{
   font-family: 'Lora', serif;
   color: #403f3f;
   padding-left: 75px;
   padding-top: 10px;
   padding-bottom: -10px;
   text-shadow: 2px 2px 4px #000000;
}
.containt h2
{
   font-family: 'STIX Two Text', serif;
   color: whitesmoke;
   padding-left: 20px;
}
.containt u
{
   color: floralwhite;
}
.heading
{
   padding: 8px;
   height: auto;
   width: auto;
   background-image: linear-gradient(to right, #ffffff, #ffffff00 , #00000000);
   border-top-left-radius: 15px ;
}
.containt p
{
   font-display: block;
   color: #ffdfb5;
   font-size: 22px;
}

@media only screen and (max-width: 850px) {
  .photo {
    position: relative;
    float: center;
    width: 50%;
    height: 65%; 
  }
  .containt
  {
      padding-top:10px ;
      border-radius: 15px 15px 15px 15px ;
      top: 20px;
      width: 90%;
      display: inline-block;
      position: relative;
  }
  .containt p 
{
      font-size: 20px;
}

}

@media only screen and (max-width: 600px) {
  .photo {
    position: relative;
    float: center;
    width: 50%;
    height: 65%;
    padding-right: 120px;
    padding-left: 10px;
    
  }
      .containt p 
      {
            font-size: 18px;
      }
  .containt
  {
      border-radius: 15px 15px 15px 15px ;
      top: 0px;
      width: 90%;
      display: inline-block;
      position: relative;
  }
}


@media only screen and (max-width: 320px) {
  .photo {
    position: relative;
    float: center;
    height: auto;
    width: auto;
  }
.containt p 
{
   font-size: 16px;   
}
  .containt
  {
      border-radius: 15px 15px 15px 15px ;
      top: 0px;
      width: 90%;
      display: inline-block;
      position: relative;
  }
}

.navbar
{
   background-color: #f9f9f99e;  
 backdrop-filter: blur(4px);
   padding: 5px;
   height: fit-content;
   width: 100%;
   border-width: 1.5px;
   position: relative;
   border-bottom-style: solid;
   border-color: #FFFFFF;

}

.navbar ol
{
   list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

}

.navbar li
{
   float: right;
    padding: 0px 10px 0px 10px;
}

.navbar li a
{
   display: block;
   text-align: center;
  padding: 14px 16px;

}
.navbar li a:hover
{
   cursor: ;
   background-color: #636161c4;
   color: antiquewhite;
   border-radius: 8px;
}


.footer
{
   background-color: #f9f9f99e;  
 backdrop-filter: blur(4px);
   padding: 5px;
   bottom: 0px;
   height: fit-content;
   width: 100%;
   border-width: 1.5px;
   position: relative;
   border-top-style: solid;
   border-color: #FFFFFF;
   border-radius: 0px 0px 15px 15px;


}

.footer a
{
   color: #000000;
   display: table-cell;
  padding: 10px 10px 10px 10px;

}
.footer a:hover
{
   cursor: pointer;
   background-color: #636161c4;
   color: antiquewhite;
   border-radius: 3px;
   border-radius: 10px 10px 10px 10px;
}


#details {
  font-family: 'Andada Pro', serif;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
 color: antiquewhite;
 background-color: #f9f9f99e;
    backdrop-filter: blur(4px);
    text-align: center;
}

#details td, #details th {
  border: 1px solid #ddd;
  padding: 8px;
}

#details tr:nth-child(even){background-color: #636161c4;}

#details tr:hover {
   background-color: #ddd;
   color: black;
}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000d4;
  color: antiquewhite;
}

dl
{
   font-size: 20px;
    padding: 15px;
    width: 100%;
}
dd { 
  display: block;
  margin-left: 40px;
  padding: 5px;
  width: 100%;
  font-family: 'Playfair Display', serif;
  color: antiquewhite;
}
dt
{
   color: whitesmoke;
   font-size: 22px;
   font-family: 'STIX Two Text', serif;;
}
