@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body{
    background-color:#f2f3f3;
    padding: 20px 30px 0px 30px;
}
.header{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: inline-flex;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 50px;
    height: 90px;
}
.header img 
{
    width: 89px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    height: 100%;
}
.header h1
{
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 100%;
    font-size: 24px
}

  hr
  {
    height: 0.8px;
    background: black;
  }

/* navBar */

.topnav 
{
  overflow: hidden;
  background-color: #DDDDDD;
  border-radius: 8px;
}

.topnav a {
    font-family: 'Atkinson Hyperlegible', sans-serif;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #212121;
  color: white !important;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
  color: white;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bar1, .bar2, .bar3 {
  width: 24px;
  height: 4px;
  background-color: white;
  margin:5px 0;
  transition: 0.3s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 3px);
  transform: rotate(-45deg) translate(-7px, 3px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.article
{
  display: inline-flex;
  height: auto;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.article fieldset
{
  height: auto;
  width: 100%;
}

.banner
{
  border: 1px solid black;
  height: 420px;
}
.thought_for_Day 
{
  background-color: #e3e3e3;
  border-radius: 6px;
  padding: 10px;
  height: auto;
}
.thought_for_Day fieldset legend
{
  font-family: 'Klee One', cursive;
  font-size: 20px;
}
.br {
      display: block;
      margin-bottom: 0.5em;
    }
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px 20px 10px 20px;
  background-color: #ccc;
  height: auto;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row
{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 600px)
{
    .column {
    width: 90%;
    height: auto;
  }
  .row
  {
    display: inline-block;
  }
}
