@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
html,body
{
	margin: 0;
	padding: 0;
}
*
{
	cursor: url("../Images/cursor2.svg"),auto;
}
.br 
{
  display: block;
  margin-bottom: 0.6em;
}
.faculty_Nav
{
	padding: 1.2% 5%;
  display: flex;
  align-items: center;
  background: #2f3546;
  color: white;
  gap: 6px;
  font-family: 'Roboto', sans-serif;
}
.faculty_Nav img
{
	height: 50px;
	width: 50px;
	margin: 1.5px;
}
.faculty_Nav h3
{
	letter-spacing: 2.5px;
	width: min-content;
}
.breadcrumbs_Main
{
	margin: 0;
	padding: 0 2%;
}
.breadcrumbs
{
	width: fit-content;
	padding: 0;
	box-shadow: 0px 0px 3px 0px #d4ecff;
	background:#003270;
	font-family: 'Roboto',sans-serif;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
  justify-content: flex-start;
	border-radius: 20px;
	border: 0.21px solid #1235ae;
}
.breadcrumbs button
{
	color: #003270;
	border-radius: inherit;
	border: none;
	padding: 2px 4px;
	background: #ffffff;
	font-size: 20px;
	box-shadow: 1px 0 2px 0px #00457d;
}
.breadcrumbs button.active
{
	background: inherit;
  color: white;
}
.faculty
{
	margin-left: -28px;
  padding-left: 32px !important;
}
.faculty_profile
{

}
.about_faculty
{
	display: flex;
  align-items: center;
  flex-direction: row;
}
.faculty_profile_img_main
{
	display: block;
}
.faculty_profile_img img
{
	width: 280px;
  height: auto;
}

.faculty_cv
{

}
.faculty_profile_details_master
{
	width: 100%;
  background: #05086c;
  position: relative;
  top: 0;
  color: white;
}
.faculty_profile_details
{
	display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.faculty_profile_details h1,
.department_position h4, .department_position h5
{
	margin: 6px 2px;
	width: auto;
}
.department_position
{
	display: inline-flex;
  align-items: center;
  gap: 10px;
}

.faculty_profile_highlights
{
	
}

.faculty_profile_contacts
{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


.contact
{
	display: flex;
	gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 15px 2px;
}

.contact a
{
	text-decoration: none;
	color: #f0f0f0;
}

.bi-telephone-fill,
.bi-envelope-fill,
.bi-linkedin,
.bi-envelope-at-fill,
.bi-google
{
	font-size: 25px;
}

.bi-book
{
	font-size: 18px;
}


.container
{
	font-family: 'Roboto',sans-serif;
}
.qualification .classHeading,
.achievement .classHeading,
.publication .classHeading,
.research .classHeading
{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
	margin: auto;
  width: fit-content;
	/*border-bottom: 0.5px solid #2e3547;*/
	position: relative;
}
.qualification .classHeading:after,
.achievement .classHeading:after,
.publication .classHeading:after,
.research .classHeading:after
{
	content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 20%;
  border-bottom: 3.25px solid #05086b;
  padding-bottom: 4px;
}

.edu_yr
{
  display: grid;
  grid-template-columns: 
  repeat(auto-fit,minmax(300px,1fr));
  padding: 2% 4%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  justify-items: center;
}


.interestArea
{
	padding: 0 3%;
}
.interestBody
{
	border: 1px solid #00046b;
	display: flex;
	text-align: center;
}
.arTitle
{
	padding: 4px 30px;
	background: #00046b;
	color: white;
}
.arTitle span
{
	font-size: 18px;
}
.interestContent
{
	text-align: center;
	padding: 4px 10px;
}
.faculty_Nav_more
{
	background: #f2f2f2;
	padding: 50px 4px;
}
.faculty_Nav_more_grid
{
	display: grid;
	grid-template-columns: 
	repeat(auto-fit,minmax(300px,1fr));
	justify-content: space-evenly;
	text-align: center;
	justify-items: center;
	gap: 18px;
}
.Contentbox
{ 
	background: linear-gradient(to right, #2e3547 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  height: 117px;
  width: 117px;
  display: grid;
  padding: 8%;
  grid-gap: 15px;
  font-size: 20px;
  align-items: center;
  border-bottom: 5px solid #003270;
  transition: all 500ms ease-out;
}
.Contentbox .bi
{
  font-size: 30px;
}
.Contentbox:hover
{
	background-position: left bottom;
	color: #ffffff;
	border-bottom: 5px solid #ffffff;
}
.yr
{
	clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0 100%);
	width: fit-content;
	display: flex;
	border: 0.25px solid #060c9b;
}
.sub_year
{
	text-align: center;
  padding: 2px 35px;
}
.sub_year
{
	clip-path: polygon(9% 0, 100% 0%, 69% 100%, 0 100%);
	background: #00046b;
	color: white;
}
.sub_degree
{
	text-align: center;
	padding: 2px 2.5%;
	display: grid;
	justify-items: center;
  align-items: center;
	color: #060c9b;
}
.institution
{
	color: #00046b;
}
.degree
{
	color: #003d6d;
}
.achievement
{
	padding: 2% 0;
}
.slider
{
	padding: 3% 0;
	height: auto;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sliderContent
{
	height: 400px;
	width: 100%;
	overflow: hidden;
	display: flex;
	position: relative;
	align-items: center;
  justify-content: center;
  align-content: center;
	padding: 0 12px;
}
.SliderBox
{
	height: 375px;
	width: 250px;
	position: absolute;
	display: grid;
	box-shadow: 0px 0px 10px 6px #9d9d9d;
	transition: all 0.3s ease-in-out;
}

.sliderbox1 {
	height: 360px;
  left: 20%;
  opacity: .4;
  transform: translateX(-50%);
  z-index: 1;
}
.sliderbox2
{
	height: 375px;
	opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.sliderbox3
{
	height: 360px;
	opacity: .4;
	left: 80%;
  transform: translateX(-50%);
  z-index: 1;
}

.subSlider1
{
	color: #ffffff;
	background: rgb(122, 180, 83);
	font-size: xx-large;
	padding: 40px;
	justify-items: center;
  align-items: center;
	display: grid;
}

.subSlider2
{
	padding: 0 3%;
	text-align: center;
	background: #f2f2f2;
}
.subSlider2 p
{
	padding: 10px 0;
}
.subSlider2 h3,
.subSlider2 p
{
	color: #05086b;
}
.subSlider2 h4
{
	color: #005f8f;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 40px;
  background: #dedfff;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, 
.dot:hover 
{
  background-color: #05086b;
}
.prev, .next {
	background: #05086b;
  width: auto;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: 0.6s ease;
  user-select: none;
  text-shadow: 0 0 10px #000000;
  box-shadow: 0 0 4px 0px #7479ba;
}

.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.faculty_profile
{
	padding: 20px;
}

.publication
{
	background: #f2f2f2;
	padding: 50px 0;
}

.publicationContents
{
	width: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}

.publicationBody
{
	width: 100%;
	padding: 25px 0;
}

.tab
{
	width: fit-content;
	overflow: hidden;
  background-color: #cacaca;
  margin: 0 5%;
}
.tab button
{
	margin: 0 0.5px;
	background-color: #fff;
	color: #8694ae;
  float: left;
  font-family: 'M PLUS Rounded 1c',sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 18px;
  transition: 0.3s;
  font-size: 16.5px;
}
.tab button.active
{
	color: #000361;
	border-top: 1.5px solid #05086b;
	padding: 13.1px 23px;
}
.contentGridPublication {
	overflow: hidden;
	margin: 0 5%;
  padding: 6px 12px;
  justify-items: center;
  border-top: 0.25px solid #c4c4c4;
  border-bottom: 0.25px solid #c4c4c4;
}
.bookFlex,
.paperFlex,
.talksFlex
{
	align-items: center;
	display: none;
	gap: 20px;
	height: auto;
	padding: 2.8% 0;
}
.bookShow,
.paperShow,
.talkShow
{
	display: flex;
}
.bookContent
{
	font-family: 'M PLUS Rounded 1c',sans-serif;
	display: block;
}
.bookicon
{
	font-size: xxx-large;
  text-align: center;
  align-content: center;
}
.bookName
{
/*	margin-bottom: 8%;*/
}
.bookName span
{
	font-size: 20px;
	color: #002888;
}
.readMore span
{
	font-size: 18px;
	color: #015383;
}
.research
{
	padding: 50px 0;
}

.researchContent
{
	padding: 20px 5%;
	width: -webkit-fill-available;
	width: -moz-available;
	margin: 4% 0;
}
.researchBody
{
	width: 100%;
	max-height: 230px;
	display: flex;
	background: #f2f2f2;
	padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.researchImage img
{
	width: 100%;
  height: 321px;
}
.researchText
{
	display: block;
	width: 65%;
}
.date
{
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c',sans-serif;
  font-weight: 800;
  float: right;
  color: #05106a;
  padding: 0 10px;
  margin-top: -30px;
}
.navigation
{
	margin-top: -35px;
	margin-right: 12px;
	z-index: 1;
	background: #05086b;
	float: right;
}
.navigation button
{
	color: #fff;
	background: transparent;
	border: none;
	padding: 10px;
	font-family: 'Nanum Myeongjo', serif;
}

.navigation button:hover
{
	color: ;
	background: ;
}

.navigation .btn1
{
	margin: 8px 25px 8px 2px;
}
.navigation .btn2
{
	margin: 8px 2px 8px 25px;
}

.rStitle
{
	color: #00012f;
	font-family: 'M PLUS Rounded 1c',sans-serif;
	border: none;
}
.rsBody
{
	height: 100px;
  width: 90%;
}
.rsReadMore
{

}


.tablecontent1
{
	align-content: center;
}





.tabcontent1 th,td
{
  border: 0.5px solid #ccc;
}
.tabcontent1 table
{
  font-family: var(--ubuntu);
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 5px !important;
  border-collapse: collapse;  
}

.tabcontent1 table caption
{
  padding: 0.55% 0;
  font-size: x-large;
  color: #3a4c67;
}

.tabcontent1 table th
{
  background: #3b4e5d;
  color: whitesmoke;
  padding: 10px 6px;
}

.tabcontent1 table tr:nth-child(odd)
{
  background-color: #d5d5d5;
  color: #003156;
}
.tabcontent1 table td
{
  text-overflow: clip;
  text-align: center; 
  vertical-align: middle;
  padding: 10px 6px;
  width: 0px;
}

.tabcontent1 table th:first-child
{
  border-top-left-radius: 5px;
}

.tabcontent1 table th:last-child
{
  border-top-right-radius: 5px;
}

.tabcontent1 table td a
{
  text-decoration: none;
  color: inherit;
}

.tabcontent1 table td a:hover
{
  cursor: grab;
}



@media only screen
and (max-width: 1000px)
{
  .tabcontent1 table, thead, tbody, th, td, tr,
  {
    display: block;
  }
 
  .tabcontent1 td{
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
    width: auto !important;
  }
  
  /*.calTable1 table td.
  .calTable table td
  {
    
  }*/
  .tabcontent1 td:nth-of-type(1):before { content: ""; }
  .tabcontent1 td:nth-of-type(2):before { content: ""; }
  .tabcontent1 td:nth-of-type(3):before { content: ""; }
  .tabcontent1 td:nth-of-type(4):before { content: ""; }
  
  .tabcontent1 table th:first-child
  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .tabcontent1 table th:last-child
  {
    border-top-right-radius: 0px;
  }
 
  .tabcontent1 table caption
  {
    display: list-item;
    list-style: none;
  }
}















/* Mobiile and Small Devices CSS */













@media only screen
and (max-width: 369px)
{
	.tab button
	{
		padding: 8px;
	}
	.tab button.active
	{
		padding: 7.5px 8px;
	}
}

@media only screen
and (min-width: 370px)
and (max-width: 400px)
{
	.tab button
	{
		padding: 12px 15px;
	}
	.tab button.active
	{
		padding: 11.4px 15px;
	}
}

@media only screen
and (max-width: 375px)
{
	.researchImage img
	{
		width: 100%;
		height: 200px;
		text-align: -webkit-center;
	}
}


@media only screen
and (max-width: 400px)
{
	.contentGridPublication
	{
		margin: 0 0 27px 0;
	}

}

@media only screen
and (max-width: 560px)
{
	.faculty_profile
	{
		padding: 0;
	}

}

@media only screen
and (max-width: 750px)
{
	.about_faculty
	{
		display: block;
	}
}

@media only screen
and (max-width: 920px)
{
	.researchText
	{
		width: -webkit-fill-available;
		width: -moz-available;
		padding: 0 4%;
	}
	.rsBody
	{
		width: 100%;
		height: auto;
		padding: 30px 0;
	}
	.researchBody
	{	
		max-height: max-content;
		height: auto;
		display: block;
		padding: 0;
	}
}

/* Large Desktop more than 13" MBP default size 1440px  */


@media only screen
and (min-width: 1500px)
{
	.researchContent
	{
		padding: 20px 15%;
	}
	.publicationBody
	{
		padding: 25px 10%;
	}
}




































































