@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body{
    background-color:#f2f3f3;
    padding: 20px 10px 0px 10px;
}
.header{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: inline-flex;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 50px;
    height: 90px;
}
.header img 
{
    width: 89px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    height: 100%;
}
.header h1
{
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 100%;
    font-size: 24px
}

  hr
  {
    height: 0.8px;
    background: black;
  }

  
@media screen and (max-width: 600px) {
    .header
    {
      height: 100px;
      padding-bottom: 10px; /* The width is 100%, when the viewport is 800px or smaller */
    }
  .header img 
  {
      width: 59px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 15px;
      height: 59px;
  }
  .header h1
  {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    position: relative;
    padding-top: 0px;
    padding-left: 11px;
    height: 70%;
    font-size: 18px
  }
}