@media screen and (max-width: 600px)
{
  .aboutHeader h2
  {
    font-size: 20px;
  }
}

/* NavBar */

/* Dean Page Setting */

/* tabletView Dean  ipad  and ipad pro 12" */


@media screen and (max-width:1200px)
{
  .footer
  {
    height: auto;
  }
  .footer .footer-main
  {
    height: 300px;
    display: block;
  }
  .footer-secondary
  {
    display: block;
    padding: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    height: auto;
  }
  .footer-secondary-links {
    padding: 6px 5px;
    display: inline-block;
  }
  .footer-secondary-links a {
    padding: 0 19px;
    font-size: small;
  }
}


@media only screen
and (min-width: 320px)
and (max-width: 375px)
and (orientation: portrait)
{
  .footer .footer-heading 
  {
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
}




@media screen
and (max-width:460px)
{
  .header
  {
    text-align: center;
    display: grid;
    justify-items: center;
  }
  .AcMain
  {
    padding: 2% 4%;
  }
  /* Footer for iphone and mobile */
  .footer-subheader
  {
    width: 220px;
  }
  .footer-heading .socials
  {
    width: 180px;
  }
}




@media screen
and (max-width: 770px)
{
  .footer .footer-heading
  {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 20px 30%;
  }
  .footer-subheader
  {
    width: 220px;
  }
  .footer-subgroup,.footer-secondary
  {
    display: none;
  }
}









@media only screen
and (min-device-width: 461px)
and (max-device-width: 505px)
{
  .footer-heading .socials
  {
    width: 200px;
  }
}



/* Desktops ------------------ */


@media only screen
and (min-width: 1600px)
{
  .header
  {
    padding: 0 8%;
  }
  .footer .footer-main
  {
    padding: 0 10%;
    height: 360px;
    font-size: x-large;
  }
  .footer-main .footer-subgroup a,
  .footer-heading .footer-subheader a
  {
    font-size: large;
  }
}
