.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.curriculum
{
  padding: 20px 0;
  height: auto;
}

.curriculumCollaps
{
  justify-content: center;
  display: flex;
  width: 100%;
  border: none;
  background: none;
}
.curriculumCollaps:after {
  content: '\002B';
  float: right;
  margin-left: 5px;
}
.curriculumCollaps.active:after {
  content: "\2212";
}
.ugcr
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}












.curriculumButton
{
  width: 100%;
  height: auto;
  background: #cecece;
  border: none;
  color: #000000;
  font-weight: bold;
  padding: 1.2%;
  transition-duration: 500ms;
}

.curriculumButton.active
{
  color: #ffffff;
  background: #0085a1;
}
.semNav
{
  display: flex;
}
.curriculumTable
{
  padding: 15px 0;
}
.sem
{
  text-align: center;
}
.tableContainer
{
  text-align: -webkit-center;
}

.nav-tabs li

{
  text-decoration: none;
  padding: 2% 4%;
}
@media only screen
and (max-width: 1000px)
{
  .curriculumTable table, thead, tbody, th, td, tr
  {
    display: block;
  }
 
  .curriculumTable td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  
  .curriculumTable td:nth-of-type(1):before { content: ""; }
  .curriculumTable td:nth-of-type(2):before { content: ""; }
  .curriculumTable td:nth-of-type(3):before { content: ""; }
  .curriculumTable td:nth-of-type(4):before { content: ""; }
  
  .curriculumTable tr:nth-of-type(even)
  {
    background: #f0f0f0;
  }

  .curriculumTable table th:first-child
  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .curriculumTable table th:last-child
  {
    border-top-right-radius: 0px;
  }
  .curriculumTable table caption
  {
    display: list-item;
    list-style: none;
  }
}